<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
     <link rel="icon" href="/images/352801.svg">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
{{>header}}
<p> Its used data from mapbox.com and weather api </p>
    <img class="potrait" src="https://dlcdnrog.asus.com/rog/media/1487180410258.jpg" alt="Asus rog is loading"/>

    </div>
   
   {{>footer}} 
  </body>
</html>
