<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/images/352801.svg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>ERROR PAGE 404</h1>


        <div class="main-content">
            {{>header}}
            {{>error}}
        </div>
        {{>footer}}

    </body>
</html>
